<% provide(:title, "受注一覧") %>
<div class="container">
<h3>受注一覧</h3>
<div class="producer-order-index">
	<% @orders.each do |order|%>
	<h3>発注者名:　<%= link_to order.buyer.company_name, buyer_path(order.buyer) %></h3>
		<table border="1">
			<tr>
					<th>受注日</th>
					<th>画像</th>
					<th>品目名</th>
					<th>売価</th>
					<th>数量</th>
					<th>金額</th>
					<th>メモ</th>
					<th>納品希望日</th>
					<th>受注状況</th>
			</tr>
			<tr>
				<td>
					<%= order.created_at.strftime("%Y/%m/%d") %>
				</td>
                <td>
                    <%= attachment_image_tag order.product, :product_image, class: "img pull-left profile-thumb", fallback: "no_image.jpg" %>
                </td>
				<td>
					<%= link_to order.product.name, product_path(order.product) %>
				</td>
				<td>
					<%= order.product.price %>円/kg
				</td>
				<td>
					<%= order.count %>kg
				</td>
				<td><%= order.payment %>円</td>
				<td id="order-remark"><%= order.remark %></td>
				<td><%= order.delivery %></td>
				<td><%= order.order_status %></td>
			</tr>
		</table>
		<div class="right-link">
			<%= link_to "受注変更する", producer_order_path(order), class: "btn btn-success", style: "margin-right: 30px;" %>
		</div>
	<% end%>
	</div>
	<div class="container">
		<div class="order-paginate">
			<%= paginate @orders %>
		</div>
	</div>
</div>
