<div class="container">
    <h3>発注確認</h3>
    <%= form_for(@order) do |f| %>
    <table>
    <tr>
    <th>品目名</th>
    <td><%= @product.name %></td>
    <%= @order.remark %>
    <%= @order.count %>
    <%= f.hidden_field :confirming %>
    <%= f.hidden_field :payment %>
    <%= f.hidden_field :remark %>
    <%= f.hidden_field :delivery %>
    <%= f.hidden_field :count %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :buyer_id, value: current_buyer.id %>
    </tr>
    </table>
    <%= f.submit "注文を確定"%>
    <% end %>
</div>