<div class="container">
    <h3>発注品目一覧</h3>
    <% @order_products.each do |o| %>
    <div class="order-product-index">
        <table>
            <tr>
                <th style="text-align: center;">画像</th>
                <th style="text-align: center;">品目名</th>
                <th style="text-align: center;">売価</th>
                <th style="text-align: center;">数量</th>
                <th style="text-align: center;">金額</th>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 140px; height: 120px;">
                    <%= attachment_image_tag o.product, :product_image, style: "width:140px; height:120px", class: "img pull-left profile-thumb", fallback: "no_image.jpg" %>
                </td>
                <td style="width: 200px; height: 120px;">
                    <%= o.product.name%>
                </td>
                <td style="width: 200px; height: 120px;">
                <!--変数をjavascriptに変換して値を渡す-->
                    <%=  o.product.price %>円/kg
                <td style="width: 200px; height: 120px;">
                    <%= o.count %>kg
                </td>
                <!--readonlyを指定して入力できないようにしている-->
                <td style="width: 200px; height: 120px;"><%= o.payment %>円</td>
                <td style="border: none; border-right: none;" ><%= link_to "発注する", new_order_path, class:"btn btn-primary" %></td>
            </tr>
        </table>
    </div>
    <% end %>
</div>