
<% if @order.confirming.blank? %>
<%= @product.name %>
        <%= form_with model: @order, local: true do |f|%>
            <%= f.number_field :count %>
            <%# <%= f.nuber_field :payment %>
            <%= f.date_select :delivery %>
            <%= f.text_area :remark%>
            <%= f.hidden_field :buyer_id, value: current_buyer.id %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit "発注する" %>
        <% end %>
<% else %>
<h3>入力確認</h3>
    <%= form_for(@order) do |f| %>
    <table>
    <tr>
    <th>品目名</th>
    <td><%= @product.name %></td>
    <%= @order.remark %>
    </tr>
    </table>
    <% end %>
<% end %>