<% visiter = notification.visiter || notification.visiter_producer  %>
<% visiter_producer = notification.visiter_producer %>
<div class="clearfix">
    <% if visiter == notification.visiter %>
        <%= link_to buyer_path(visiter) do %>
            <%= attachment_image_tag visiter, :profile_image, format: "jpeg", fallback: "no_image.jpg", class:"profile-img-circle", style: "width: 100px; height: 100px;" %>
        <% end %>
    <% elsif visiter_producer %>
        <%= link_to producer_path(visiter_producer) do %>
            <%= attachment_image_tag visiter_producer, :profile_image, format: "jpeg", fallback: "no_image.jpg", class:"profile-img-circle", style: "width: 100px; height: 100px;"%>
        <% end %>
    <% end %>
    <%= notification_form(notification) %><span class="moderate-font"><%= "(#{time_ago_in_words(notification.created_at)}å‰)"%></span>
    <br>
    <% if !@comment.nil? %>
        <p><%= @comment %></p>
    <% end %>
</div>