<div class="col-lg-2 sidebar h-auto">
    <div class="side-bar">
        <%= search_form_for @search do |f| %>
            <div class="form-group">
                <%= f.label :company_name_cont, "バイヤー名でさがす"%>
                <%= f.search_field :company_name_cont, class: "form-control", style: "width: 11em;"%>
                <%= f.label :prefecture_id_eq, "都道府県でさがす"%>
                <%= f.collection_select(:prefecture_id_eq, Prefecture.all, :id, :name, :include_blank => "選択してください", class: "form-control") %>
                <%= f.label :industory_id_eq, "業種・業態でさがす"%>
                <%= f.collection_select(:industory_id_eq, Industory.all, :id, :name, :include_blank => "選択してください", class: "form-control") %>
            </div>
            <div class="actions">
                <%= f.submit "検索", class: "btn btn-success"%>
            </div>
        <% end %>
    </div>
</div>
