<% if flash[:notice] %>
    <div class="alert alert-danger text-center">
        <%= flash[:notice] %>
    </div>
<% end %>
<div class="container">
<h1>情報編集</h1>
<%= form_for(@buyer) do |f| %>
    <table>
    <tr>
        <th><%= f.label "写真" %></th>
        <td>
            <div class="post-image">
                <div class="prev-contents">
                    <% if @buyer.profile_image.present? %>
                    <div class="prev-content">
                        <%= attachment_image_tag @buyer, :profile_image, class: "prev-image"%>
                    </div>
                    <% end %>
                </div>
            </div>
            <%= f.attachment_field :profile_image ,class: "hidden_file"%>
        </td>
    </tr>
    <tr>
        <th><%= f.label "担当者名" %></th>
        <td><%= f.text_field :name, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "担当者名(フリガナ)" %></th>
        <td><%= f.text_field :kana_name, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "屋号/社名" %></th>
        <td><%= f.text_field :company_name, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "屋号/社名(フリガナ)" %></th>
        <td><%= f.text_field :kana_company_name, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label :industory_id, "業種・業態" %></th>
        <td><%= f.collection_select :industory_id, Industory.all, :id, :name, :include_blank => "選択してください", class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "メールアドレス" %></th>
        <td><%= f.email_field :email, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "電話番号" %></th>
        <td><%= f.text_field :phone_number, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "郵便番号" %></th>
        <td><%= f.text_field :postcode, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label :prefecture_id, "都道府県" %></th>
        <td><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, :include_blank => "選択してください" %></td>
    </tr>
    <tr>
        <th><%= f.label "住所(市区町村・番地・建物" %></th>
        <td><%= f.text_field :address, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "ホームページ" %></th>
        <td><%= f.text_field :hp, class: "form-control" %></td>
    </tr>
    <tr>
        <th><%= f.label "プロフィール"%></th>
        <td><%= f.text_area :description, class: "form-control" %></td>
    </tr>
    </table>
    <div class="button">
        <%= f.submit "登録する", class: "btn btn-success"%>
        <%= link_to "退会する", buyer_quit_path, class: "btn btn-danger" %>
    </div>
<% end %>
</div>