<div class="container">
    <h1>バイヤー一覧</h1><br>
    <%= render 'sidebar', search: @search%>

    <% @buyers.each do |buyer|%>
        <div class="buyer-index" >
            <div class="image-info">
                <div class="image">
                    <%= link_to buyer_path(buyer) do%>
                    <%= attachment_image_tag(buyer, :profile_image, class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg")%>
                    <% end %>
                </div>
                <div class="info">
                    <div class="col-lg-7">
                        <h4><%= link_to buyer.company_name, buyer_path(buyer) %></h4>
                        <div class="link">
                            <%= link_to "詳細をみる", buyer_path(buyer) %>
                        </div>
                        <div class="profile-head">
                            <strong>プロフィール</strong>
                        </div>
                        <div class="profile">
                            <%= buyer.description %>
                        </div>
                        <div class="buyer-prefecture">
                            <strong>所在地　　　</strong>
                            <% if buyer.prefecture_id.nil?%>
                                <span>未登録</span>
                            <% else %>
                                <%= buyer.prefecture.name %>
                            <% end %>
                        </div>
                        <div class="buyer-industory">
                            <strong>業種・業態　</strong>
                            <% if buyer.industory_id.nil?%>
                                <span>未登録</span>
                            <% else %>
                                <%= buyer.industory.name %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="container">
    <div class="buyer-paginate">
        <p><%= paginate @buyers %></p>
    </div>
</div>
