<div class="container">
        <% if @buyer == current_buyer %>
        <h1>マイページ</h1>
        <% else %>
        <h1>バイヤー情報</h1>
        <% end %>
    <div class="row">
        <div class="col-lg-3">

        <% if @buyer != current_buyer %>
            <% if @buyer_ids.include?(@buyer.id) %><br>
                <%= link_to "チャットへ", chat_path(current_producer.chats.find_by(buyer_id: @buyer.id)) %><br>
            <% else %>
                <%= form_for Chat.new do |f| %>
                    <%= f.hidden_field :buyer_id, :value => @buyer.id %>
                    <%= f.submit "チャットを開始" %>
                <% end %>
            <% end %>
        <% end %>

            <div class="image">
                <%= attachment_image_tag @buyer, :profile_image, style: "width:200px; height:200px", class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg" %>
            </div>
        </div>
        <div class="col-lg-9">
            <table>
                <tr>
                    <th>担当者名</th>
                    <td><%= @buyer.name %></td>
                </tr>
                <tr>
                    <th>担当者名(フリガナ)</th>
                    <td><%= @buyer.kana_name %></td>
                </tr>
                <tr>
                    <th>屋号/社名</th>
                    <td><%= @buyer.company_name %></td>
                </tr>
                <tr>
                    <th>屋号/社名(フリガナ)</th>
                    <td><%= @buyer.kana_company_name %></td>
                </tr>
                <tr>
                    <th>業種・業態</th>
                    <td>飲食</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><%= @buyer.phone_number %></td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td><%= @buyer.postcode %></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><%= @buyer.prefecture %><%= @buyer.address %></td>
                </tr>
                <tr>
                    <th>ホームページ</th>
                    <td><%= link_to @buyer.hp, @buyer.hp %></td>
                </tr>
                <tr>
                    <th>プロフィール</th>
                    <td style="width: 30em;"><%= @buyer.description %></td>
                </tr>
            </table>
        </div>
        <% if @buyer == current_buyer %>
            <%= link_to "編集する", edit_buyer_path %>
        <% end %>
        <p><%= link_to "バイヤー一覧に戻る", buyers_path %></p>
    </div>
</div>