    <% if flash[:error] %>
    <div class="alert alert-danger text-center">
        <%= flash[:error] %>
    </div>
    <% end %>
<div class="container">
    <div class="select_registration">
    <h3>アカウント登録</h3>
        <%= link_to "生産者の方", new_producer_registrartion_path, class: "btn btn-success" %>
        <%= link_to "バイヤーの方", new_buyer_registration_path, class: "btn btn-success" %>
        <h4>登録済みの方はこちら</h4>
        <%= link_to ">>生産者でログイン", new_producer_session_path %><br>
        <%= link_to ">>バイヤーでログイン", new_buyer_session_path %>
    </div>
</div>