<div class="slicks">
    <div class="slick-head">
        <h2>新着生産者</h2>
    </div>
    <div class="slick">
        <% @slick_producers.each do |producer| %>
            <div class="producer-list">
                <%= link_to producer_path(producer) do %>
                    <%= attachment_image_tag(producer, :profile_image) %>
                <% end %>
                <%= link_to producer.company_name, producer_path(producer) %><br>
                <%= producer.description %>
            </div>
        <% end %>
    </div>
</div>
<div class="container">
    <h1>生産者一覧</h1><br>
    <%= render 'sidebar', search: @search%>

    <% @producers.each do |producer|%>
            <div class="producer-index" >
                <div class="image-info">
                    <div class="image">
                        <%= link_to producer_path(producer) do%>
                        <%= attachment_image_tag(producer, :profile_image, class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg")%>
                        <% end %>
                    </div>
                    <div class="info">
                        <div class="col-lg-7">
                            <h4><%= link_to producer.company_name, producer_path(producer) %></h4>
                            <div class="link">
                                <%= link_to "詳細をみる", producer_path(producer) %>
                            </div>
                            <div class="profile-head">
                            <strong>プロフィール</strong>
                            </div>
                            <div class="profile">
                                <%= producer.description %>
                            </div>
                            <div class="producer-prefecture">
                            <strong>所在地　　</strong>
                            <% if producer.prefecture_id.nil?%>
                                <span>未登録</span>
                            <% else %>
                                <%= producer.prefecture.name %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <% end %>
</div>
<div class="container">
    <div class="producer-paginate">
        <%= paginate @producers %>
    </div>
</div>
