<% if producer_signed_in? || buyer_signed_in? %>
    <h3>投稿する</h3>
    <div class="post-form form-group">
        <%= form_for(post) do |f| %>
            <%= f.label "題名" %>
            <%= f.text_field :heading, class:"form-control" %><br>
            <%= f.label "本文" %>
            <%= f.text_area :content, class:"form-control" %><br>
            <%= f.label "画像を載せる" %>
            <div class="post-image">
                <div class="prev-contents">
                    <% if post.image.present? %>
                    <div class="prev-content">
                        <%= attachment_image_tag post, :image, class: "prev-image"%>
                    </div>
                    <% end %>
                </div>
            </div>
            <%= f.attachment_field :image ,class: "hidden_file"%>
            <%= f.submit "投稿する", class: "btn btn-success form-control" %>
        <% end %>
    </div>
<% end %>