<% if flash[:notice] %>
    <div class="alert alert-danger text-center">
        <%= flash[:notice] %>
    </div>
<% end %>
<div class="container">
<% if producer_signed_in? || buyer_signed_in? %>
    <h3>投稿する</h3>
    <div class="post-form form-group">
        <%= form_for(@post) do |f| %>
            <%= f.label "題名" %>
            <%= f.text_field :heading, class:"form-control" %><br>
            <%= f.label "本文" %>
            <%= f.text_area :content, class:"form-control" %><br>
            <%= f.label "画像を載せる" %>
            <div class="post-image">
                <div class="prev-contents">
                    <% if @post.image.present? %>
                    <div class="prev-content">
                        <%= attachment_image_tag @post, :image, class: "prev-image"%>
                    </div>
                    <% end %>
                </div>
            </div>
            <%= f.attachment_field :image ,class: "hidden_file"%>
            <%= f.submit "投稿する", class: "btn btn-success form-control" %>
        <% end %>
    </div>
<% end %>
    <h3>投稿一覧</h3>
    <ul>
    <% @posts.each do |post| %>
    <div class="post-index">
        <li>
            <h3><%= link_to post.heading, post_path(post) %></h3>
            <p><%= post.content %></p>
            <% if post.buyer %>
                <%= attachment_image_tag post.buyer, :profile_image, style: "width:40px; height:40px", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
                <%= link_to post.buyer.company_name, buyer_path(post.buyer) %>
            <% else %>
                <%= attachment_image_tag post.producer, :profile_image, style: "width:40px; height:40px", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
                <%= link_to post.producer.company_name, producer_path(post.producer) %>
            <% end %>
            <div class="like-count">
                <span class="glyphicon glyphicon-heart" style="color: red;"></span>
                <%= post.likes.count %>
            </div>
            <div class="comment-count">
                <span class="glyphicon glyphicon-comment" style="color: green;"></span>
                <%= post.comments.count %>
            </div><br>
            <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
            <div class="right-link">
            <% if producer_signed_in? && post.producer == current_producer %>
                <%= link_to "削除する", post_path(post), method: :delete %>
            <% elsif buyer_signed_in? && post.buyer == current_buyer %>
                <%= link_to "削除する", post_path(post), method: :delete %>
            <% end %>
            </div>
        </li>
    </div>
    <% end %>
    </ul>
    <div class="container" style="text-align: center;">
        <%= paginate @posts%>
    </div>
</div>