<% provide(:title, "投稿一覧") %>
<%= render 'layouts/flash_notice' %>

<div class="container">
    <%= render 'form',post: @post %>
    <h3>投稿一覧</h3>
    <ul>
        <% @posts.each do |post| %>
            <div class="post-index">
                <li>
                    <h3><%= link_to post.heading, post_path(post) %></h3>
                    <p><%= post.content %></p>
                    <% if post.buyer %>
                        <%= attachment_image_tag post.buyer, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
                        <%= link_to post.buyer.company_name, buyer_path(post.buyer) %>
                    <% else %>
                        <%= attachment_image_tag post.producer, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
                        <%= link_to post.producer.company_name, producer_path(post.producer) %>
                    <% end %>
                    <div class="like-count">
                        <span class="glyphicon glyphicon-heart"></span>
                        <%= post.likes.count %>
                    </div>
                    <div class="comment-count">
                        <span class="glyphicon glyphicon-comment"></span>
                        <%= post.comments.count %>
                    </div><br>
                    <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
                    <div class="right-link">
                    <% if producer_signed_in? && post.producer == current_producer %>
                        <%= link_to "削除する", post_path(post), method: :delete %>
                    <% elsif buyer_signed_in? && post.buyer == current_buyer %>
                        <%= link_to "削除する", post_path(post), method: :delete %>
                    <% end %>
                    </div>
                </li>
            </div>
        <% end %>
    </ul>
    <div class="container" style="text-align: center;">
        <%= paginate @posts%>
    </div>
</div>