<div class="container">
    <h1>カテゴリー一覧</h1>
    <%= form_for(@category) do |f| %>
        <%= f.label "カテゴリー名"%>
        <%= f.text_field :name %>
        <%= f.submit "登録"%>
    <% end %>

        <table>
            <tr>
                <th>カテゴリー</th>
            </tr>
                <% @categories.each do |category| %>
            <tr>
            <td>
                <span><%= category.name %>　|</span>
                <%= link_to "削除", category_path(category), method: :delete %>
            </td>
            </tr>
            <% end %>
        </table>
</div>