    <div class="order_table">
    <%= form_with model: @order, local: true do |f| %>
        <table border="1">
            <tr>
                <th>売価</th>
                <th>数量</th>
                <th>金額</th>
                <th>納品希望日</th>
                <th>備考</th>
            </tr>
            <tr>
                <td>
                <!--変数をjavascriptに変換して値を渡す-->
                <div id="product_price" data-json="<%= @product.price.to_json %>" ></div>
                    <%=  @product.price %>円/kg
                </td>
                <td>
                    <%= f.number_field :count %>kg
                </td>
                <!--readonlyを指定して入力できないようにしている-->
                <td><%= f.number_field :payment, readonly: "" %>円</td>
                <td><%= f.date_select :delivery %></td>
                <td><%= f.text_area :remark%></td>
            </tr>
        </table>
        <%# <%= f.text_field :producer_id %>
        <%= f.hidden_field :buyer_id, value: current_buyer.id %>
        <%= f.hidden_field :producer_id, value: @producer.id %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit "発注する", class: "btn btn-success"%>
    <% end %>
                <!--javascriptに変換して値を使い、自動計算-->
                <script>
                $(function(){
                    // productの単価
                    var value = JSON.parse(document.getElementById('product_price').dataset.json);
                    // 入力対象のinputタグID名
                    var tagInput = $('#order_count');
                    // 出力対象のinputタグID名
                    var tagOutput = $('#order_payment');
                    tagInput.on('change', function(){
                        var str = $(this).val();
                        // 整数以外の文字列を削除
                        var num = Number(str.replace(/[^0-9]/g, ''));
                        if(num == 0){
                            num = '';
                        }
                        // productと入力された数量の合計値
                        $(this).val(num);
                        if(num != 0){
                            var order_payment = num * value;
                            tagOutput.val(order_payment);
                        }
                    });
                });
                </script>
    </div>
