<div class="container">
    <h1>品目一覧</h1><br>
    <%= render 'sidebar', search: @search %>
    <div class="row">
        <div class="col-lg-7 col-lg-offset-2" style="border: none;">

            <% @products.each do |product| %>
                <div class="index">
                <dl>
                    <dt></dt>
                    <dd>
                        <%= link_to product_path(product) do %>
                        <%= attachment_image_tag(product, :product_image, style: "width:150px; height:150px", class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg")%>
                        <% end %>
                    </dd>
                    <dt></dt>
                        <dd><%= link_to product.name, product_path(product) %></dd>
                    <dt>売価</dt>
                        <dd><%= product.price %>円/kg</dd>
                    <dt>出荷時期</dt>
                        <dd><%= product.timing %></dd>
                    <% if product.producer == current_producer %>
                        <%= link_to "編集する", edit_product_path(product) %></>
                    <% end %>
                </dl>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="container" style="text-align: center;">
    <%= paginate @products %>
</div>