<% provide(:title, "品目登録") %>
<%= render 'layouts/flash_notice' %>
<div class="container">
    <h2>品目登録</h2>
    <div class="product-form">
        <%= render 'new_form', product: @product%>
    </div>
        <div class="producer-products">
            <table border="1">
                <tr>
                    <th>写真</th>
                    <th>品目名</th>
                    <th>売価</th>
                    <th>出荷時期</th>
                    <th>説明</th>
                </tr>
                <% @products.each do |product| %>
                <tr>
                    <td id="product-image"><%= attachment_image_tag(product, :product_image, class: "pull-left profile-thumb", fallback: "no_image.jpg") %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price%>円/kg</td>
                    <td><%= product.timing%></td>
                    <td><%= product.description%></td>
                    <td><%= link_to "編集する", edit_product_path(product) %></td>
                    <td><%= link_to "削除する", product_path(product), method: :delete %></td>
                </tr>
                <% end %>
            </table>
        </div>
</div>