<div class="container">
    <h1>品目情報</h1>
    <div class="row">
        <div class="col-lg-3">
            <div class="image">
                <%= attachment_image_tag @product, :product_image, style: "width:200px; height:200px", class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg" %>
            </div>
        </div>
        <div class="col-lg-4">
            <h3><%= @product.name%></h3>
            <p><strong>生産者名</strong></p>
            <p><%= link_to @producer.name, producer_path(@producer) %></h4>
            <h3>売価</h3>
            <%= @product.price %>円/kg
            <h3>出荷可能時期</h3>
            <%= @product.timing%>
            <p><strong>説明</strong></p>
            <p><%= @product.description %></p>
            <div class="link">
                <% if @product.producer.id == current_producer.id %>
                    <%= link_to "編集", edit_product_path %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="link">
                <%= link_to "品目一覧に戻る", products_path %>
        </p>
    </div>
</div>