<div class="container">
    <h3><%= @product.name%></h3>
    <p><%= @product.description %></p>
    <h3>売価</h3>
    <%= @product.price %>円/kg
    <h3>出荷可能時期</h3>
    <%= @product.timing%>
    <p><%= link_to "品目一覧に戻る", products_path %></p>
</div>