<footer style="background-color: gray;">
    <p>
    © 2020　つなグルメ
    </p>
    <div class='footer-list'>
        <%= link_to "登録情報変更", "#"%>
        <%= link_to "生産者一覧", "#"%>
        <%= link_to "バイヤー一覧", "#"%>
        <%= link_to "品目一覧", "#"%>
        <%= link_to "トップ", "#"%>
    </div>
</footer>