<header>
    <h2><%= link_to "つなグルメ", root_path %></h2>
<% if producer_signed_in? %>
    <nav>
        <ul class="nav nav-pills">
            <li><%= link_to "トップ", root_path %></li>
            <li><%= link_to "マイページ", producer_path(current_producer)%></li>
            <li><%= link_to "品目登録", new_product_path %></li>
            <li><%= link_to "受注一覧", "#"%></li>
            <li><%= link_to "チャット", chats_path %></li>
            <li><%= link_to "ログアウト", destroy_producer_session_path, method: :delete %></li>
        </ul>
    </nav>
<% elsif buyer_signed_in? %>
    <nav>
        <ul class="nav nav-pills">
            <li><%= link_to "トップ", root_path %></li>
            <li><%= link_to "マイページ", buyer_path(current_buyer) %></li>
            <li><%= link_to "発注", new_order_path %></li>
            <li><%= link_to "発注一覧", "#"%></li>
            <li><%= link_to "チャット", chats_path %></li>
            <li><%= link_to "ログアウト", destroy_buyer_session_path, method: :delete %></li>
        </ul>
    </nav>
<% elsif admin_signed_in? %>
    <nav>
        <ul class="nav nav-pills">
            <li><%= link_to "トップ", root_path %></li>
            <li><%= link_to "カテゴリ追加", categories_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        </ul>
    </nav>
<% else %>
    <nav>
        <ul class="nav nav-pills">
            <li><%= link_to "生産者でログイン", new_producer_session_path %></li>
            <li><%= link_to "バイヤーでログイン", new_buyer_session_path %></li>
            <li><%= link_to "新規登録", sign_up_path %></li>
        </ul>
    </nav>
<% end %>
</header>